* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  position: relative;
}

.container::before {
  content: "";
  background-image: url(../images/bg-intro-mobile.png);
  background-size: cover;
  background-color: #ff7a7a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.flex-container {
  text-align: center;
  padding: 75px 20px 60px 20px;
}

.flex-container .content__tittle {
  font-size: 22px;
  line-height: 130%;
}

.flex-container .content__description {
  font-size: 12px;
  line-height: 165%;
  margin: 25px 25px 40px 25px;
}

.flex-container .boxes__cost {
  background-color: #6055a5;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 3px -1px rgba(74, 74, 78, 0.25);
          box-shadow: 0px 8px 3px -1px rgba(74, 74, 78, 0.25);
}

.flex-container .boxes__cost p {
  font-size: 12px;
  padding: 13px 60px;
  letter-spacing: .01rem;
  line-height: 165%;
}

.flex-container .boxes__cost p span {
  font-weight: 700;
}

.flex-container .boxes__form {
  margin-top: 20px;
  padding: 17px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 3px -1px rgba(74, 74, 78, 0.25);
          box-shadow: 0px 8px 3px -1px rgba(74, 74, 78, 0.25);
}

.flex-container .boxes__form * {
  margin-top: 15px;
}

.flex-container .boxes__form__first {
  margin-top: 0;
}

.flex-container .boxes__form input {
  width: 100%;
  font-size: 11px;
  padding: 14px;
  border: 1px solid rgba(150, 150, 150, 0.4);
  border-radius: 5px;
}

.flex-container .boxes__form ::-webkit-input-placeholder {
  font-weight: 600;
}

.flex-container .boxes__form :-ms-input-placeholder {
  font-weight: 600;
}

.flex-container .boxes__form ::-ms-input-placeholder {
  font-weight: 600;
}

.flex-container .boxes__form ::placeholder {
  font-weight: 600;
}

.flex-container .boxes__form__btn {
  width: 100%;
  padding: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .09em;
  border: none;
  border-radius: 5px;
  background-color: #38cc8c;
  color: white;
  -webkit-box-shadow: 0px 6px 3px -1px rgba(56, 204, 140, 0.5);
          box-shadow: 0px 6px 3px -1px rgba(56, 204, 140, 0.5);
}

.flex-container .boxes__form__info {
  color: #b9b6d3;
  font-size: 8px;
  margin: 15px 17px 0 17px;
  font-weight: 500;
  line-height: 200%;
}

.flex-container .boxes__form__info--red {
  color: #ff7a7a;
  font-weight: 700;
}

@media screen and (min-width: 360px) {
  .flex-container {
    padding: 75px 30px 60px 30px;
  }
  .flex-container .content__tittle {
    font-size: 23px;
    padding: 0 20px;
  }
  .flex-container .content__description {
    margin: 25px 30px 35px 30px;
  }
  .flex-container .boxes__form__info {
    font-size: 9px;
  }
}

@media screen and (min-width: 390px) {
  .flex-container {
    padding: 90px 35px 60px 35px;
  }
  .flex-container .content__tittle {
    font-size: 28px;
  }
  .flex-container .content__description {
    font-size: 13px;
    margin: 25px 40px 45px 40px;
  }
  .flex-container .boxes__form__info {
    font-size: 10px;
  }
}

@media screen and (min-width: 412px) {
  .flex-container {
    padding: 105px 35px 60px 35px;
  }
}
/*# sourceMappingURL=style.css.map */